<h1>Info#post</h1>
<p><%= @msg %></p>
<hr>
<form method="post" action="./post">
<input type="text" id="txt1" name="txt1"> <br/>
<input type="text" id="txt2" name="txt2">
<input type="submit">
</form>
